<%= provide(:title, "Front page") %>
<% content_for :header do %>
  <p class="left">Front page</p>
<% end %>
<%= content_for :sidebar do %>
  <div class="sidebar-main">
    <h3><%= link_to "Community index", communities_path %></h3>
    <% if current_user %>
      <h3>Your communities:</h3>
      <ul class="comm-list">
        <% current_user.subscribed_communities.each do |c| %>
          <li><%= link_to c.title, c %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% if !current_user %>
  <h2>Welcome to Linker!</h2>
  <p>Linker is a place where people unite into communities based on their interests.
    You can post links and pictures, share your ideas or start a discussion - feel free to check our <%= link_to "community index", communities_path %>!</p>
  <h3>Here are some of our latest posts:</h3>
<% end %>
<% @posts.each do |post| %>
  <%= render 'post_preview', post: post %>
<% end %>

<%= will_paginate @posts, page_links: false %>
<% content_for :javascript do %>
  <script>
    document.querySelector('.previous_page').classList.toggle('pure-button');
    document.querySelector('.previous_page').classList.toggle('button-lavender');
    document.querySelector('.previous_page').innerText = "prev";
    document.querySelector('.next_page').classList.toggle('pure-button');
    document.querySelector('.next_page').classList.toggle('button-lavender');
    document.querySelector('.next_page').innerText = "next";
  </script>
<% end %>
