<%= provide(:title, "Conversation") %>
<% content_for :header do %>
  <p class="left">Conversation</p>
<% end %>
<% @messages.each do |message| %>
  <% if message.text %>
    <% user = User.find(message.user_id) %>
    <p><%= user.username %></p>
    <p><%= message.message_time %></p>
    <p><%= message.text %></p>
    <p><%= message.read %></p>
  <% end %>
<% end %>

<%= form_for [@conversation, @message] do |f| %>
  <%= f.text_area :text, class: "form-control" %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <%= f.submit "Add Reply" %>
<% end %>
