<% if params[:controller] == "posts" %>
  <% @in_post = true %>
<% end %>
<% if @in_post && depth.even? %>
  <% gray = "comment-gray" %>
<% else %>
  <% gray = "" %>
<% end %>
<% if depth > 1 %>
  <% reply = true %>
<% else %>
  <% reply = false %>
<% end %>
<% if !@in_post %>
  <div class="comment-container-saved">
<% elsif reply %>
  <div class="comment-container-reply <%= gray %>">
<% else %>
  <div class="comment-container <%= gray %>">
<% end %>
  <div class="comment">
    <% if @in_post %>
    <div class="comment-voting">
      <%= link_to upvote_comment_path(comment), method: :put do %>
        <% if current_user && current_user.voted_up_on?(comment) %>
          <div class="arrow-up"></div>
        <% else %>
          <div class="arrow-up-gray"></div>
        <% end %>
      <% end %>
      <p class="divider">let's pretend i'm not here, ok?</p>
      <%= link_to downvote_comment_path(comment), method: :put do %>
        <% if current_user && current_user.voted_down_on?(comment) %>
          <div class="arrow-down"></div>
        <% else %>
          <div class="arrow-down-gray"></div>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="comment-main">
      <h5>
        <%= link_to comment.user.username, comment.user %> • <%= pluralize comment.score, "point" %>
        <small><%= time_ago_in_words(comment.created_at) %> ago</small>
      </h5>
      <div class="markdown comment-body">
        <%= simple_format comment.text %>
      </div>
      <div class="comment-tools">
        <small>
          <% if @in_post %>
            <a href="#" class="reply-link" data-reply="<%= comment.id %>">reply</a>
          <% end %>
          <% if current_user && !current_user.saved_comments.include?(comment) %>
            <%= link_to "save", save_path(comment_id: comment.id), method: :post %>
          <% elsif current_user %>
            <%= link_to "unsave", unsave_path(saving_id: comment.id), method: :delete %>
          <% end %>
        </small>
      </div>
      <div class="reply-form" id="reply-<%= comment.id %>" style="display: none;">
        <%= form_for [comment, Comment.new], html: { class: "pure-form" } do |f| %>
          <p class="mk-tip">Tip: use <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> to format your text</p>
          <%= f.text_area :text, placeholder: "Add a Reply", class: "pure-input-1-2 comment-input" %><br/>
          <%= f.submit "Reply"  %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @in_post %>
    <%= render partial: 'comments/comment', collection: comment.comments, locals: { depth: depth + 1 } %>
  <% end %>
</div>
