<%= content_for :sidebar do %>
  <div class="sidebar-main">
    <p class="sidebar-name"><%= @user.username %></p>
    <p>
      <span class="sidebar-karma">42</span> post karma
    </p>
    <p>
      <span class="sidebar-karma">88</span> comment karma
    </p>
    <p title="<%= @user.created_at %>">registered <%= time_ago_in_words @user.created_at %> ago</p>
  </div>
<% end %>
<div class="user-page">
  <%= gravatar_for(@user, size: 200) %>
  <h2>u/<%= @user.username %></h2>
  <hr>
  <p><%= @user.about_me %></p>
</div>
