<%= provide(:title, "#{@post.title} - #{@post.community.title}") %>
<% content_for :header do %>
  <p class="left"></p>
<% end %>
<%= content_for :sidebar do %>
  <%= render 'community_sidebar', community: @post.community %>
<% end %>
<%= render 'post_preview', post: @post %>
<% if !@post.link? %>
  <div class="markdown">
    <%= simple_format @post.text %>
  </div>
<% elsif !@post.image? %>
<%= link_to @post.link, class: "icon-link" do %>
  <%= content_tag :h3, @post.link %>
<% end %>
<% else %>
  <%= link_to @post.link, class: "icon-link" do %>
    <%= image_tag @post.link, class: "post-image" %>
  <% end %>
<% end %>
<hr>
<p><%= pluralize(@post.comments_count, "comment") %></p>
<%= form_for [@post.community, @post, Comment.new], html: { class: "pure-form" } do |f| %>
<p class="mk-tip">Tip: use <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> to format your text</p>
<%= f.text_area :text, placeholder: "What do you think?", class: "pure-input-1-2 comment-input" %><br/>
<%= f.submit "post" %>
<% end %>
<% depth = 0 %>
<%= content_for :comments do %>
<% if @comments.any? %>
  <div class="pure-menu pure-menu-horizontal sort-menu">
      <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected pure-menu-has-children pure-menu-allow-hover">
            <a class="pure-menu-link">Sort replies</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><%= link_to "New", community_post_path(@post.community, @post, sort: "new"), class: "pure-menu-link" %></li>
                <li class="pure-menu-item"><%= link_to "Old", community_post_path(@post.community, @post, sort: "old"), class: "pure-menu-link" %></li>
                <li class="pure-menu-item"><%= link_to "Top", community_post_path(@post.community, @post, sort: "top"), class: "pure-menu-link" %></li>
            </ul>
          </li>
      </ul>
  </div>
<% end %>
  <%= render partial: 'comments/comment', collection: @comments, locals: { depth: depth + 1 } %>
  <br>
  <% if @comments.size == 20 %>
    <div class="content comment-pagination">
      <%= will_paginate @comments, page_links: false %>
    </div>
  <% end %>
<% end %>
<%= content_for :javascript do %>
  <script type="text/javascript">
    document.querySelectorAll('.reply-link').forEach((link) => {
      link.addEventListener('click', (ev) => {
        ev.preventDefault();
        var div = document.getElementById(`reply-${link.dataset.reply}`);
        div.style.display = div.style.display === 'none' ? 'block' : 'none';
      });
    });
    document.querySelector('.previous_page').classList.toggle('pure-button');
    document.querySelector('.previous_page').classList.toggle('button-lavender');
    document.querySelector('.previous_page').innerText = "prev";
    document.querySelector('.next_page').classList.toggle('pure-button');
    document.querySelector('.next_page').classList.toggle('button-lavender');
    document.querySelector('.next_page').innerText = "next";
  </script>
<% end %>
