<div class="sidebar-main">
  <%= link_to community do %>
    <p class="sidebar-name">c/<%= community.name %></p>
  <% end %>
  <p><%= pluralize community.subscribed_users.size, "subscriber" %></p>
  <small>a community for <%= time_ago_in_words(community.created_at) %></small>
  <% if current_user && current_user.subscribed_communities.include?(community) %>
    <%= link_to "Unsubscribe", unsubscribe_community_path(community), class: "pure-button button-lavender block-button", method: :delete %>
  <% else %>
    <%= link_to "Subscribe", subscribe_community_path(community), class: "pure-button button-lavender block-button", method: :post %>
  <% end %>
  <%= link_to "Submit a link", submit_community_path(community), class: "pure-button button-lavender block-button" %>
  <%= link_to "Submit a text post", submit_community_path(community, textpost: "1"), class: "pure-button button-lavender block-button" %>
  <div class="community-desc markdown">
    <%= simple_format community.description %>
  </div>
  <div class="moderators">
    <h4>Community moderators:</h4>
    <ul class="moderators">
    <% community.moderators.each do |m| %>
      <li><%= link_to "u/#{m.username}", m %></li>
    <% end %>
    </ul>
  </div>
  <% if current_user && community.moderators.include?(current_user) %>
    <%= link_to "Community settings", edit_community_path(community) %>
  <% end %>
</div>
