<div class="post-preview">
  <% if !post.link? %>
    <%= link_to community_post_path(post, community_id: post.community.slug), class: "icon-link" do %>
      <%= image_tag "text.png", class: "text-icon" %>
    <% end %>
  <% elsif !post.image? %>
  <%= link_to post.link, class: "icon-link" do %>
    <%= image_tag "link.png", class: "text-icon" %>
  <% end %>
  <% else %>
    <%= link_to post.link, class: "icon-link" do %>
      <div class="image-icon" style='background-image: url(<%= post.link %>);'></div>
    <% end %>
  <% end %>
  <div class="post-desc">
    <h3 class="post-title"><%= link_to post.title, community_post_path(post, community_id: post.community.slug) %></h3>
    <p>submitted <%= time_ago_in_words post.created_at %> ago by
    <%= link_to post.user do %>
      <%= gravatar_for(post.user, size: 17, classes: "pure-img-eliptical") %>
      <%= post.user.username %>
    <% end %>
    <% if controller_name != "communities" %>
      &thinsp;to<%= link_to "c/#{post.community.name}", post.community %>
    <% end %>
    </p>
  </div>
  <div class="voting">
    <%= link_to upvote_community_post_path(post.community, post), remote: true, method: :put do %>
      <% if current_user && current_user.voted_up_on?(post) %>
        <%= content_tag :div, '', class: "arrow-up", id: "upvote_#{post.id}" %>
      <% else %>
        <%= content_tag :div, '', class: "arrow-up-gray", id: "upvote_#{post.id}" %>
      <% end %>
    <% end %>
    <%= content_tag :p, post.score, class: "post-score", id: "upvotes_#{post.id}" %>
    <%= link_to downvote_community_post_path(post.community, post), remote: true, method: :put do %>
      <% if current_user && current_user.voted_down_on?(post) %>
        <div class="arrow-down"></div>
      <% else %>
        <div class="arrow-down-gray"></div>
      <% end %>
    <% end %>
  </div>
</div>
