<%= provide(:title, "#{@community.title}") %>
<% content_for :header do %>
  <p class="left"><%= @community.title %></p>
<% end %>
<%= content_for :sidebar do %>
  <%= render 'community_sidebar', community: @community %>
<% end %>
<% @posts.each do |post| %>
  <%= render 'post_preview', post: post %>
<% end %>
