<%= provide(:title, "#{@community.title}") %>
<% content_for :header do %>
  <p class="left"><%= @community.title %></p>
<% end %>
<%= content_for :sidebar do %>
  <%= render 'community_sidebar', community: @community %>
<% end %>
<% @posts.each do |post| %>
  <%= render 'post_preview', post: post %>
<% end %>

<%= will_paginate @posts, page_links: false %>
<% content_for :javascript do %>
  <script>
    document.querySelector('.previous_page').classList.toggle('pure-button');
    document.querySelector('.previous_page').classList.toggle('button-lavender');
    document.querySelector('.previous_page').innerText = "prev";
    document.querySelector('.next_page').classList.toggle('pure-button');
    document.querySelector('.next_page').classList.toggle('button-lavender');
    document.querySelector('.next_page').innerText = "next";
  </script>
<% end %>
