<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title yield(:title) %></title>
    <%= render 'head' %>
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-1-6 sidebar">
        <center>
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class: "logo-sign" %>
            <p class="logo">linker</p>
          <% end %>
          <p class="weekday">It's <%= weekday %>, <span title="and gals, of course">my dudes</span></p>
        </center>
        <%= yield :sidebar %>
      </div>
      <div class="main pure-u-5-6">
        <div class="header">
          <div class="header-left">
            <%= yield :header %>
          </div>
          <div class="user-header">
            <%= render 'user_header' %>
          </div>
        </div>
        <div class="content">
          <% flash.each do |type, msg| %>
            <div class="pure-alert pure-alert-<%= type %>"><%= msg %></div>
          <% end %>
          <%= yield %>
        </div>
        <%= yield :comments %>
        <div class="content footer">
          <a href="http://i.imgur.com/nnMLybg.jpg">❤</a> Made in Russia, tested in Quebec <a href="https://i.imgur.com/5P53see.jpg">❤</a><br>
          <a href="https://github.com/le-shark/linker">GitHub project</a>
        </div>
      </div>
    </div>
    <script>
      console.log(he.decode(`<%= params %>`));
      document.querySelectorAll('.markdown').forEach((el) => {
        el.innerHTML = marked(el.innerText);
      });
    </script>
    <%= yield :javascript %>
  </body>
</html>
